/*Global styles*/

.navigation {
  background: rgba(255, 255, 255, 0.6);
}

.main-text {
  max-width: 700px;
  text-align: center;
  margin: 2rem auto;
}

/*Mobile and tablet styles*/
@media only screen and (max-width: 834px) {
}

/*Desktop styles*/
@media only screen and (min-width: 835px) {
}
