/*Global styles*/

header img {
  max-width: 2000px;
  width: 100%;
}

header {
  position: relative;
}

/*Mobile and tablet styles*/
@media only screen and (max-width: 834px) {
}

/*Desktop styles*/
@media only screen and (min-width: 835px) {
}
